.info-cards {
    margin-top: 16px;
    display: flex;
    flex-direction: column; /* 세로로 섹션 정렬 */
    gap: 16px; /* 섹션 간 간격 */
}


.info-cards-container {
    display: flex;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    gap: 16px; /* 카드 간격 */
    padding-bottom: 16px; /* 스크롤바 공간 */
}

.info-cards-container > .ant-card {
    flex-shrink: 0; /* 카드 크기를 줄이지 않음 */
}

.info-cards-container::-webkit-scrollbar {
    height: 8px; /* 스크롤바 높이 */
}

.info-cards-container::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 4px;
}

.info-cards-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 스크롤바 호버 색상 */
}

.info-cards-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤바 배경 */
}

/* 카드 크기 고정 */
.ant-card {
    width: 300px;
    height: 200px;
}

