.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    height: 400px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.login-logo {
    text-align: center;
    margin-bottom: 60px;
    color: #282c34;
    font-size: 60px;
}

.ant-login-form .ant-form-item {
    margin-bottom: 20px;
}

.ant-btn-primary {
    background-color: #282c34;
    border-color: #282c34;
}

.ant-btn-primary:hover {
    background-color: #3a414d !important;
    border-color: #3a414d;
}

.ant-btn-primary:active {
    background-color: #1c2027 !important;
    border-color: #1c2027;
}

